body { 
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  font-family: sans-serif;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 2px solid red; */
 }
 .input{
   height :40px;
    padding:20px ;
     text-align :center;
      font-size :'25px' ;
    width : 100%;
    color: black;
    /* color: rgb(252, 240, 255); */
 }
 .contain{
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px ;
  width: 50%;    
  display: flex;
  justify-content: center;
  align-items: center;
 }
 @media (max-height: 500px) {
  .contain{
    height: 100vh;
  }
 }
 @media (max-height: 700px) {
  .App {
    /* background: yellow; */
    /* min-height: 600px; */
    scroll-behavior: smooth;
    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 100px;
  }
  p{
    text-align: center;
    font-size: 15px !important;
    margin: 5px;
  }
  h2{
    font-size: 20px !important;
  }
}
 @media screen and (max-width: 500px ) {
  h1{
    font-size: 20px;
  }
  .input{
    font-size: 10px;
    padding: 10px;
    height: 8px;
  }
 
  p{
    text-align: center;
    font-size: 15px !important;
  }
  h2{
    font-size: 20px !important;
  }
}
